<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boltz</title>
    <meta name="description" content="Boltz, A fast and reliable search engine">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="icon" href="/static/images/logo.png">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-900 flex flex-col items-center justify-center min-h-screen text-white relative">

    <!-- Toggle Button at the top right corner -->
    <div class="absolute top-4 right-4">
        <button class="bg-blue-600 text-white p-3 rounded-full shadow-lg text-2xl" id="toggleButton">
            <i class="fa-solid fa-th"></i>
        </button>
    </div>

    <!-- Floating Menu -->
    <div class="floating-menu hidden fixed top-7 right-8 bg-gray-800 rounded-lg shadow-lg p-4" id="floatingMenu">
        <div class="icon-grid grid grid-cols-2 gap-4">
            <div class="icon-item text-center">
                <img src="/static/images/bangocat.png" alt="Icon 1" class="mx-auto mb-2">
                <p>Item 1</p>
            </div>
            <div class="icon-item text-center">
                <img src="/static/images/bangocat.png" alt="Icon 2" class="mx-auto mb-2">
                <p>Item 2</p>
            </div>
            <div class="icon-item text-center">
                <img src="/static/images/bangocat.png" alt="Icon 3" class="mx-auto mb-2">
                <p>Item 3</p>
            </div>
            <div class="icon-item text-center">
                <img src="/static/images/bangocat.png" alt="Icon 4" class="mx-auto mb-2">
                <p>Item 4</p>
            </div>
        </div>
    </div>

    <!-- Title -->
    <div class="text-center mb-6">
        <h3 class="text-4xl font-bold">
            <span class="text-purple-500">B</span>oltz
        </h3>
        <form class="mt-4" method="POST" action="/search">
            <div class="flex items-center">
                <input class="border border-gray-600 bg-gray-800 text-white rounded-l-md p-2 w-64" type="text"
                    name="query" placeholder="Search Boltz" required>
                <button type="submit"
                    class="bg-blue-600 text-white p-2 rounded-r-md hover:bg-blue-700 transition duration-300">
                    <i id="icon" class="fas fa-search"></i>
                </button>
            </div>
        </form>
    </div>
    <div class="flex space-x-4 mt-6">
        <a class="text-blue-400 hover:underline" href="https://kyle-hosting.xyz">Kyle Hosting</a>
        <a class="text-blue-400 hover:underline" href="https://kyle-hosting.xyz/privacypolicy.html">Privacy Policy</a>
    </div>
    <script>
        const button = document.getElementById('toggleButton'); const floatingMenu = document.getElementById('floatingMenu'); button.addEventListener('click', () => {
            if (floatingMenu.classList.contains('hidden')) {
                floatingMenu.classList.remove('hidden');
            } else { floatingMenu.classList.add('hidden'); }
        });
    </script>
</body>

</html>